{% block title %}Confirmation d'Email{% endblock %}

{% block content %}
    <h1>Bonjour {{ user.email }}!</h1>
    <p>Merci de vous être inscrit. Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous :</p>
    <a href="{{ confirmation_link }}">Confirmer mon email</a>
    <p>Si vous n'avez pas créé de compte, veuillez ignorer cet email.</p>


    <img src="{{ app_url }}/images/logoVeliko.png" style="width: 100px">

{% endblock %}
