<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description of your website or page content here">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <meta name="author" content="Your Name or Company">
    <title>{% block titre %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ asset('css/base.css') }}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Logo à gauche -->
        <a class="navbar-brand" href="/">
            <img src="../images/logoVeliko.png" alt="Logo" style="height: 70px;">
        </a>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <!-- Onglets principaux au centre -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_accueil' %}active{% endif %}" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_map' %}active{% endif %}" href="/map">Carte des stations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" href="/login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_register' %}active{% endif %}" href="/register">Inscription</a>
                </li>
            </ul>

            <!-- Espace réservé pour "Mon compte" à droite -->
            <ul class="navbar-nav ms-auto fixed-right">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') in ['app_accueil_profil', 'app_change_password', 'app_delete_profil', 'app_profil', 'app_favori', 'app_stations'] %}active{% endif %}" href="/accueil/profil">
                            Mon compte
                        </a>
                    </li>
                {% else %}
                    <!-- Lien caché mais présent pour réserver l'espace -->
                    <li class="nav-item invisible">
                        <a class="nav-link">Mon compte</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>







    {% block content %}{% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="social-links">
                <div class="social-item mx-3">
                    <a href="https://instagram.com" aria-label="Instagram" class="d-flex flex-column align-items-center">
                        <img src="/images/instagram.png" alt="Logo Instagram" class="social-icon">
                        <span>Instagram</span>
                    </a>
                </div>
                <div class="social-item mx-3">
                    <a href="https://facebook.com" aria-label="Facebook" class="d-flex flex-column align-items-center">
                        <img src="/images/facebook.png" alt="Logo Facebook" class="social-icon">
                        <span>Facebook</span>
                    </a>
                </div>
                <div class="social-item mx-3">
                    <a href="https://twitter.com" aria-label="Twitter" class="d-flex flex-column align-items-center">
                        <img src="/images/x.png" alt="Logo X (anciennement Twitter)" class="social-icon">
                        <span>X</span>
                    </a>
                </div>
            </div>
            <div class="text-center mt-4">
                © 2024 Veliko. Tous droits réservés.
            </div>
        </footer>
    {% endblock %}


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
