<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description of your website or page content here">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <meta name="author" content="Your Name or Company">
    <title>{% block titre %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{{ asset('css/base.css') }}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/images/logoVeliko.png" style="width: 130px" alt="Logo Veliko"></a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_accueil' %}active{% endif %}" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_map' %}active{% endif %}" href="/map">Carte des stations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_login' %}active{% endif %}" href="/login">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'app_register' %}active{% endif %}" href="/register">Inscription</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') in ['app_accueil_profil', 'app_change_password', 'app_delete_profil', 'app_profil', 'app_favori', 'app_stations'] %}active{% endif %}" href="/accueil/profil">
                                Mon compte
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    {% block footer %}
        <footer class="footer">
            <div class="row justify-content-center mt-5">
                <div class="d-flex justify-content-center social-links">
                    <a href="https://instagram.com" class="mx-3" aria-label="Instagram">
                        <img src="/images/instagram.png" alt="Logo Instagram" style="width: 30px;">
                        <br> Instagram
                    </a>
                    <a href="https://facebook.com" class="mx-3" aria-label="Facebook">
                        <img src="/images/facebook.png" alt="Logo Facebook" style="width: 30px;">
                        <br> Facebook
                    </a>
                    <a href="https://twitter.com" class="mx-3" aria-label="Twitter">
                        <img src="/images/x.png" alt="Logo X (anciennement Twitter)" style="width: 30px;">
                        <br> X
                    </a>
                </div>
            </div>
            <div class="text-center mt-4">
                © 2024 Veliko. Tous droits réservés.
            </div>
        </footer>

    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
