{% extends 'base.html.twig' %}

{% block title %}Hello AccueilProfilController!{% endblock %}

{% block content %}

    <button type="button" class="btn btn-primary" ><a href="/profil" style="color:white "> Informations Personnelles</a></button>
    <br>
    <br>
    <button type="button" class="btn btn-primary" ><a href="/change/password" style="color:white ">Changer de mot de passe</a></button>


{% endblock %}
