{% extends 'base.html.twig' %}

{% block title %}Hello AccueilProfilController!{% endblock %}

{% block content %}
    <link href="{{ asset('css/css.css') }}" rel="stylesheet">
    <link href="{{ asset('css/accueil_profil.css') }}" rel="stylesheet">

    <div class="profile-background">
        <div class="container text-center">
            <a href="/profil" class="btn btn-primary my-3">Informations Personnelles</a>
            <a href="/change/password" class="btn btn-primary my-3">Changer de mot de passe</a>
            <a href="/delete/profil" class="btn btn-primary my-3">Supprimer mon compte</a>
            <a href="/favori/{{ id_user }}" class="btn btn-primary my-3">Stations favorites</a>
            <a href="/logout" class="btn btn-danger my-3">Se déconnecter</a>
        </div>
    </div>
{% endblock %}
